* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

@media (max-width: 578px) {
    
    }

body{
    background-color: #777777;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    
    font-variant-caps: small-caps;
    text-align: center;
    overflow-x: hidden;
    padding: 0;
    margin: 0 auto;
}

div{
    padding: 0;
    margin: 0 auto;
}
.footer{
    text-align: center;
    width: 100vw;
    height: 4vh;
    background-color: black;
    position: fixed;
    bottom: 0px;
    z-index: 2;
}
.main{
    height: 100vh;
    position: relative;
}
.header{
    z-index: 2;
    text-align: center;
    width: 100vw;
    background-color: black;
    height: 4vh;
    position: fixed;
    top: 0px;
}
.blank1{
    z-index: 1;
    width: 100vw;
    background-color: #777777;;
    position: fixed;
    top: 2vh;
}
.blank2{
    z-index: 1;
    width: 100vw;
    background-color: #777777;;
    position: fixed;
    bottom: 2vh;
}
.logo{
    background-color: black;
    display: inline-block;
}
.foto{
    width: 200px;
    height: 100px;
}

a {    
    color: white;
    text-decoration: none;
}
a:hover {
    color: white;
}
/**/
.slide{
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
    top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.active{
    opacity: 1;
}
.to{
    width: 90vw;
}
img{    
    border: 10px solid black;
}
.small:hover{
    transform: scale(1);
}
.small{
    transform: scale(0.5);
    line-height: 40%;
}